<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button color="undefined" class="btn-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Admob Pro</ion-title>
    <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list-header color="light">
    Banner Ads
  </ion-list-header>
  <ion-card>
    <ion-card-content>
      Banner Ad is usually shown by default on bottom of the page. You can select the position as you like.
      You can even display multiple banner ads per page.
    </ion-card-content>
  </ion-card>
  <ion-button color="success" expand="block" (click)="banner()">Show Banner Ad</ion-button>
  <ion-button color="success" expand="block" (click)="hideBanner()">Hide Banner Ad</ion-button>

  <ion-list-header color="light">
    Interstitial Ads
  </ion-list-header>
  <ion-button color="success" expand="block" (click)="interstitial()">Show Interstitial Ad</ion-button>
  <ion-button color="success" expand="block" (click)="interstitialVideo()">Show Interstitial Video</ion-button>
  <ion-list-header color="light">
    Reward Ads
  </ion-list-header>
  <ion-button color="success" expand="block" (click)="reward()">Show Reward Ad</ion-button>

</ion-content>