.address{
    font-size:14px;
    color:#666;
}
.description{
    font-size:17px;
    color:#333;
}
ion-content {
    --overflow: hidden;
}
.timing{
    color:#666;
    padding-top: 8px;
    font-size: 14px;
    ion-icon{
        font-size: 18px;
        margin-right: 10px;
        margin: 0px;
        float:left;
    }
}