<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>{{info.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-content fullscreen>
    GALERIA ACA
    <ion-grid>
      <ion-row>
        <ion-col size="4">
            STARS
        </ion-col>
        <ion-col size="4">
            HOT
        </ion-col>
        <ion-col size="4" class="timing">
          <ion-icon name="clock"></ion-icon>
          {{timeService.isOpen(info)}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="address">
          {{info.location.formattedAddress}}
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="description">
          {{info.description}}
          <p text-right>
            <ion-button size="light" (click)="moveTo()">
              See more info
              <ion-icon name="arrow-dropright"></ion-icon>
            </ion-button>
          </p>
        </ion-col>
      </ion-row>
    </ion-grid>

    
  </ion-content>
</ion-header>