<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="discover">
  <ion-grid class="discover__nopadding">
    <ion-row class="discover__welcome">
      <ion-col size="12">
        <div class="discover__welcome--margin ion-hide-sm-down"></div>
        <div class="discover__welcome--logo"></div>
        <h2 class="discover__welcome--message">Welcome to</h2>
        <h1 class="discover__welcome--laruta">La Ruta de la Garnacha</h1>
        <p>Your guide for the best food places in the city. <br/>Join us!</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
