@import "../../../../theme/variables.scss";

.discover{
  &__nopadding{
      padding: 0px;
  }
  &__welcome{
      text-align: center;
      height: 40vh;
      background-image: url("/assets/imgs/app/tacos.jpg");
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      color: white;
      &--message{
          font-size: 6vw;
          font-weight: 900;
          text-transform: uppercase;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 3px;
      }
      &--logo{
          @include background-2x('/assets/imgs/app/trompo' ,'png', contain , contain, center center, no-repeat);
          height: 20vw;
          margin-top: 5vw;
          margin-bottom:2%;
      }
      &--laruta{
          text-indent: -6000px;
          margin:7px;
          height:8vw;
          @include background-2x('/assets/imgs/app/garnacha' ,'png', contain , contain, center center, no-repeat);
      }
      p{
          border-top:2px solid white;
          font-size: 3vw;
          text-align: center;
          padding: 10px;
          display: block;
          width: 50%;
          margin: 0vh auto 0 auto;
      }
  }
  .lalo{
      background: #ef8a2e;
      color:#5d320b;
      text-transform: uppercase;
      height: 170px;
      margin-top: 60px;
      margin-bottom: 22px;
      img.bio{
          position: absolute;
          margin-top: -35px;
          height: 200px;
          right: 0px;
      }
      
      a.logo{
          position: absolute;
          width: 205px;
          display: block;
          margin-top: -10px;
          margin-left: 0px;
      }
      
      a.youtube{
          background-color: transparent;
          background-image: url(/assets/img/youtube.png);
          background-repeat: no-repeat;
          background-position: center center;
          display: block;
          height: 44px;
          width: 20px;
          margin: 125px 0px 0px 87px;
          background-size: contain;
          border: none;
      }
  }
  .social{
      &__icon{
          font-size: 40px;
          margin:10px 20px;
      }
  }
}
//IPAD
@media screen and (min-width : 700px) and(max-width: 800px) {
  .discover {
      &__welcome {
          height: 50vh;
          &--logo{
              margin-top: 4vh;
              height: 15vh;
          }
          &--message{
              font-size:4vw;
          }
          &--laruta{
              height: 6vw;
          }
          p{
              font-size:3.5vw;
              width: 90%;
              margin-top: 4vh;
          }
      }
  }
}
//DESKTOP
@media screen and (min-width : 780px) {
  .discover {
      &__welcome {
          height: 55vh;
          &--logo{
              margin-top: 4vh;
              height: 15vh;
          }
          &--message{
              font-size:3vw;
          }
          &--laruta{
              height: 4vw;
          }
          p{
              font-size:1.5vw;
          }
      }
  }
}