<!-- /**
* Ionic 4 Firebase Full App  (https://store.enappd.com/product/ionic-4-firebase-full-app-starter)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/  -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding class="login-content">
  <div id="sign-in-button"></div>
  <div class="main">
    <ion-card no-margin class="card">
      <ion-card-content>
        <ion-row class="row">
          <div class="fire-logo">
            <img src="../../assets/imgs/garnacha.png" class="img-logo">
           
          </div>
        </ion-row>
     
        <div class="line"></div>
        <ion-row>
          <ion-col>
            <ion-text>
              <h2 no-margin margin-vertical text-center>Sign In with your social networks</h2>
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-facebook-login (accessToken)="facebookLogin($event)"></app-facebook-login>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-google-login (accessToken)="googleLogin($event)"></app-google-login>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>