<ion-app dir="{{textDir}}">
  <ion-split-pane>
    <ion-menu class="app-sidemenu">
      <ion-header>
        <ion-toolbar>
          <ion-row class="user-details-wrapper">
            <ion-col size="8" offset="2">
              <app-image-shell animation="spinner" [src]="'/assets/imgs/garnacha_white.png'"></app-image-shell>
            </ion-col>
            <ion-col class="social-info-wrapper ion-text-center" size="12">
              <ion-row>
                <ion-col size="2" offset="3">
                  <ion-button href="https://twitter.com/larutagarnacha" target="_blank" fill="transparent">
                    <ion-icon class="social__icon" color="primary" name="logo-twitter"></ion-icon>  
                  </ion-button>
                </ion-col>
                <ion-col size="2">
                  <ion-button href="https://www.facebook.com/LaRutadelaGarnachaMx/" target="_blank"  fill="transparent">
                    <ion-icon class="social__icon" color="primary" name="logo-facebook"></ion-icon>
                  </ion-button>
                                 
                </ion-col>
                <ion-col size="2">
                  <ion-button href="https://www.instagram.com/larutadelagarnacha/" target="_blank"  fill="transparent">
                    <ion-icon class="social__icon" color="primary" name="logo-instagram"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-list-header>Get involved</ion-list-header>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item [routerLink]="p.url">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item detail (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>
              Logout
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <!-- Main app content gets rendered in this router-outlet -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
